<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <form method="post" action="{% url 'calculation' %}">
         {% csrf_token %}
        <input type="text" name="x1" >
        <input type="text" name="x2" >
        <input type="text" name="x3" >
        <input type="text" name="x4" >
        <input type="submit" value="Ответить">
     </form>

        {% for list_a in list_a %}
          <p>{{ list_a }}</p>
        {% endfor %}
        <p>{{ image_path }}</p>
    <h1>Результаты расчета</h1>

    {% if image_path %}
        <h2>Тепловая карта</h2>
        <img src="{{ image_path }}" alt="Тепловая карта">

    {% endif %}

</body>
</html>