<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

    {% if product_list %}
    {% load custom_filters %}
    <ul>
        {% for product in product_list %}
        <li>
            <p>
                {{ product.product }} цена {{ product.prais }}
                <form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="submit" value="Добавить в корзину">
                </form>
                <form method="post" action="{% url 'estimation' %}">
                    {% csrf_token %}
                    {% with estimation=estimation_dict|get_item:product.id %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="radio" name="laik" value="laik">
                        <p> {{ estimation.laik }} laik</p>
                        <input type="radio" name="dlaik" value="dlaik">
                        <p> {{ estimation.dlaik }} dlaik</p>
                    {% endwith %}
                    <input type="submit" value="Оценить">
                </form>
                <form method="post" action="{% url 'comit' %}">
                   {% csrf_token %}
                   <input type="hidden" name="product_id" value="{{ product.id }}">
                   <input type="text" name="comit" value="">
                   <input type="submit" value="Добавить коментарий">
               </form>
               {% with comit_list=comit_dict|get_item:product.id %}
                   {% for comit in comit_list %}
                       <p>comit: {{ comit.comit }}</p>
                            <form method="post" action="{% url 'answer_comit' %}">
                               {% csrf_token %}
                               <input type="hidden" name="comit_id" value="{{ comit.id }}">
                               <input type="text" name="answer_comit" value="">
                               <input type="submit" value="Ответить">
                             </form>

                        {% with answer_list=answer_comit|get_item:comit.id %}
                        {% for answer_list in answer_list %}
                             <p>answer_comit: {{ answer_list.answer }}</p>
                        {% endfor %}
                        {% endwith %}

                   {% endfor %}
               {% endwith %}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Нет продуктов</p>
    {% endif %}

<a href="{% url 'cart'  %}">Cart</a>
</body>
</html>